
@using ASG.Models
@model ASG.Models.AddRegistrationViewModel

@{
    ViewBag.Title = "Registration confirmation";
}


<div class="modal fade" id="blogRegistrationConfirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background-color:rgba(0, 0, 0, 0.7)">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header mdtitle">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title inner-brand" id="myModalLabel">Thank you for registering.</h4>
                </div>
                <div class="modal-body" style="width:90%; text-align:center; padding:30px 50px 20px 50px; margin:auto">
                    <div>
                        <p>
                            As a registered user of the blog, you will be able to view blog posts and leave comments.
                        </p><br />
                        <div style="text-align:left">
                            <p>
                                In addition to registering for the blog, you are now able to sign up for our other applications - the Financial Planner and the BugTracker.
                            </p>
                            <p>
                                Simply select from the choices below to give yourself quick and simple access to all applications.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6" style="text-align:left">
                            <section id="additionalRegistrationsForm">
                                @using (Html.BeginForm("AddRegistration", "Account", new { area = "", ReturnUrl = ViewBag.ReturnUrl, Application = ViewBag.Application }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "additionalRegistrationForm" }))
                                {
                                    @Html.HiddenFor(m => m.Application, new { Value = "Blog" })
                                    <div class="col-md-3"></div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.Blog)
                                        <span>@Html.LabelFor(m => m.Blog)</span>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.FinancialPlanner)
                                        <span>@Html.LabelFor(m => m.FinancialPlanner)</span>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.BugTracker)
                                        <span>@Html.LabelFor(m => m.BugTracker)</span>
                                    </div>
                                }
                            </section>
                        </div>
                    </div>
                    <div style="color:lime; text-align:left; margin:15px; font-size:14px; line-height:1" id="AdditionalRegistrationMessage"></div>
                </div>
                <div class="modal-footer" style="text-align:center; padding-top:20px">
                    <div class="form-group">
                        <input class="btn btn-lg btn-primary btn-block  letter-spacing-3" id="BlogAdditionalRegisterSubmit" value="Add me" style="margin:25px; width:90%; margin:auto" />
                        <button type="button" class="btn btn-lg btn-secondary btn-block  letter-spacing-3" data-dismiss="modal" style="margin:25px; width:90%; margin:auto">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


