@using ASG.Models
@model LoginViewModel


<div class="modal fade" id="blogLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background-color:rgba(0, 0, 0, 0.7)">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header mdtitle">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title inner-brand" id="myLoginModalLabel">Log In</h4>
                </div>
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { area = "", ReturnUrl = ViewBag.ReturnUrl, Application = ViewBag.Application }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "blogLoginForm" }))
                    {
                        <div class="modal-body" style="width:90%; text-align:center; padding:100px 50px 20px 50px; margin:auto">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(m => m.Application, new { Value = "Blog" })
                            <div class="form-group">
                                <div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email Address" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div style="color:lime; text-align:left; margin:15px; font-size:14px; line-height:1" id="BlogLoginErrors"></div>
                            </div>

                            <div class="form-group" style="text-align: left; padding-left:23px">
                                <div>
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        <span>@Html.LabelFor(m => m.RememberMe)</span>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-top:50px">
                                <a onclick="openRegisterModal(true)">Register as a new User</a><br />
                                <a onclick="openForgotPasswordModal(true)">Forgot your password?</a>
                            </div>
                        </div>
                            <div class="modal-footer" style="text-align:center; padding-top:20px">
                                <div class="form-group">
                                    <input class="btn btn-lg btn-primary btn-block  letter-spacing-3" id="BlogLoginSubmit" value="Login" style="margin:25px; width:90%; margin:auto" />
                                </div>
                            </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>




